@page "/counter"
@using System.Threading
@implements IDisposable

<p>Time @theTime</p>
<p>Ticks @tTicks</p>
<p>Tick Time @dTime</p>


<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>



<br/>
<br/>
<a href="todo">ToDo</a>

@code {
	private int currentCount = 0;

	private void IncrementCount()
	{
		currentCount++;
	}
}

@code {

    string theTime;
    Timer aTimer;
    long tTicks;
    DateTime dTime;

    protected override void OnInitialized()
    {
        aTimer = new Timer(Tick, null, 0, 1000);
    }

    private void Tick(object _)
    {
        theTime = DateTime.Now.ToLongTimeString();
        tTicks = DateTime.Now.Ticks ;
        dTime = new DateTime(tTicks);
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        aTimer?.Dispose();
    }
}
