@page "/CSS"
<h3>CSS</h3>

<style>
    :root {
        --my-width: 100px;
    }
    .example {
        background-color: #ccc;
        width: var(--my-width);
    }
</style>

<h1>Change CSS Width with Blazor</h1>
<label>Width</label>
<input @bind-value="@width" />
<p class="example" style="--my-width: @width">My Width is @width</p>
<span><i class="fas fa-info-circle"></i></span>

https://github.com/FortAwesome/Font-Awesome/tree/6.x/svgs/regular
@code {
    string width = "100px" ;
}



<button @onclick="ToggleStyles">Toggle styles</button>
<div class="@cssClass">
    This is some text
</div>

<style>
    .my-class {
        background-color: yellow;
        color: black;
    }

    .my-class2 {
        background-color: purple;
        color: white;
    }


</style>



@code {
    private string cssClass = "";

    private void ToggleStyles()
    {
        if (cssClass == "")
        {
            cssClass = "my-class";
        }
        else
        {
            cssClass = "";
        }
    }
}