
@using BlazorApp1.Data
@inject GeneratedColumnsService ColumnService

<div><br />With  Forecast</div>
@if (columns == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in columns)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
	[Parameter]
	public IReadOnlyList<string> TableHeaders { get; set; }
	[Parameter]
	public IReadOnlyList<string> TableData { get; set; }
	int numHeaders => TableHeaders.Count;

    private ColumnData[]? columns;

    protected override async Task OnInitializedAsync()
    {
        columns = await ColumnService.GetColumnsAsync(DateOnly.FromDateTime(DateTime.Now));
    }

    

}
